extends ../../layouts/default.pug 


block main 
    .container.mt-5
      h1 Danh sách mới phát hành 
      .row
        // Bài hát 1
        if newSongs.length > 0
          each item in newSongs
            .col-md-3.mb-4
              .card.h-100
                a(href="/songs/detail/"+item.slug) 
                  img.card-img-top(src=item.avatar, alt='Bài hát 1')
                .card-body  
                  h5.card-title #{item.title}
                  p.card-text Ca sĩ #{item.singleName}
                  .d-flex.justify-content-between
                    span.card-text
                      i.fa-solid.fa-heart    #{item.like}
                      i.fa-solid.fa-headphones(style='margin-left: 12px')     #{item.listen}
                    span.card-text #{moment(item.createdAt).format('MMMM Do YYYY')}
          .container
            .text-center
              button.btn.btn-outline-light.btn-lg(type='button' style='color: black' limit-songs) 
                | Xem thêm 
                i.fa-solid.fa-arrow-down
        else 
          h1.text-center Không thể tìm thấy dữ liệu  
    .container.mt-5 
      h2 Danh sách chủ đề được yêu thích 
      .row
       if topics.length > 0
        each item in topics
          .col-md-6.col-lg-3
            .card.mb-4.shadow-sm
              img.card-img-top(src=item.avatar, alt='Thumbnail bài hát 1')
              .card-body
                h5.card-title #{item.title}
                p.card-text #{item.description}
                a.btn.btn-primary(href='/songs/'+ item.slug) Xem chi tiết  
        .container
            .text-center
              button.btn.btn-outline-light.btn-lg(type='button' style='color: black' limit-topics) 
                | Xem thêm 
                i.fa-solid.fa-arrow-down
       else 
        h1.text-center Không có chủ đề nào 
    .container.my-5
      h2 Danh sách ca sĩ yêu thích 
      .row
        each item in singers
          .col-lg-3.col-md-6.mb-4
            .card.singer-card.text-center
              a(href="singer/detail/" + item.slug)  
                img.card-img-top.rounded-circle.mx-auto.mt-3(src=item.avatar, alt='Bích Phương')
              .card-body
                h5.card-title #{item.fullName}
                p.card-text(song-count) Số lượng bài hát: #{item.songCount}
                p.card-text(follow-count) #{item.followCount} người theo dõi
                button.btn(href='#' btn-follow=item.id class=(item.isFollowed === "followed" ? "btn-warning" : "btn-info" ) follow-status=item.isFollowed) #{item.isFollowed === "followed" ? "Đã theo dõi" : "theo dõi"  }
        .container
            .text-center
              button.btn.btn-outline-light.btn-lg(type='button' style='color: black' limit-singers) 
                | Xem thêm 
                i.fa-solid.fa-arrow-down  
        
    