extends ../../layouts/default.pug 

block main 
    h1.text-center(style='margin: 20px; font-family: Arial, Helvetica, sans-serif;font-weight: 700') Quản lý Phân Quyền 
      i.fa-solid.fa-shield-halved
    .container
        .row.justify-content-between.tool-bar
            // Search Bar
            .col-md-4
              h5 T&igrave;m ki&#x1EBF;m
              form(form-search)
                .input-group
                  input.form-control(type='text', placeholder='Tìm kiếm', name='keyword' value=keyword)
                  button.btn.btn-outline-secondary(type='submit')
                    i.fa-solid.fa-magnifying-glass
            // Filter
            .col-md-4
              h5 Xuất Excel 
              button.btn.btn-primary Xuất _>
                
            // Select Option
            .col-md-4
              h5 Cập nhật 
              button.btn.btn-secondary(btn-updated-permission) Cập nhật  
    div(data-roles=roles).d-none
    table.table.table.table-bordered.border-danger(table-permission)
      thead
        tr
          th Nhóm quyền 
          each item in roles
            th #{item.title}
      tbody
        //id 
        tr.d-none(data-name='id')
          td Id
          each item in roles 
            td
              input(type='text'  value=item.id)
       
        //end id
        //songs 
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Danh sách bài hát
        tr(data-name='song_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='song_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='song_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='song_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        //end songs 
       
        //topics 
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Chủ đề bài hát 
        tr(data-name='topic_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='topic_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='topic_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='topic_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        //end topics 
        //singer 
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Danh sách ca sĩ 
        tr(data-name='singer_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='singer_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='singer_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='singer_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 

        //end singer 
        //users
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Danh sách người dùng 
        tr(data-name='user_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='user_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='user_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='user_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        //end users
        //roles
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Danh sách bài hát
        tr(data-name='role_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='role_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='role_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='role_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        //end roles 
        //permission
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Danh sách Phân Quyền 
        tr(data-name='permission_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='permission_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='permission_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='permission_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        //end permissions 
        //Accounts 
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Danh sách tài khoản
        tr(data-name='account_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='account_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='account_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='account_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        //end accounts
        //setting general 
        tr.category-row
          td(colspan=roles.length + 1 style='background-color: #B8B8B8') Danh sách bài hát
        tr(data-name='setting_general_view')
          td Xem
          each item in roles 
            td
              input(type='checkbox'  value=item.id)
        tr(data-name='setting_general_create')
          td Thêm 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='setting_general_edit')
          td Sửa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        tr(data-name='setting_general_delete')
          td Xóa 
          each item in roles 
            td
              input(type='checkbox' value=item.id) 
        //end setting general 