extends ../../layouts/default.pug 


block main 
    .container
      .row.artist-info
        .col-md-4.text-center
          img.img-fluid(src=singer.avatar, style="width: 350px; height: 350px" alt='Artist Photo')
        .col-md-8
          h1 #{singer.fullName}
          p !{singer.description}
            
        .row.artist-description
          .col-12
        .row.track-list
          .col-12
            h2 Tracks
            each item, index in songs
              .track-item
                  h5 Track #{index + 1}: #{item.title}
                  audio(controls='')
                  source(src=item.audio, type='audio/mpeg')
          