extends ../../layouts/default.pug 

block main 
    .container.my-5
      .row
        each item in singers
          .col-lg-3.col-md-6.mb-4
            .card.singer-card.text-center
              a(href="singer/detail/" + item.slug)  
               img.card-img-top.rounded-circle.mx-auto.mt-3(src=item.avatar, alt='Bích Phương')
              .card-body
                h5.card-title #{item.fullName}
                p.card-text(song-count) Số lượng bài hát: #{item.songCount}
                p.card-text(follow-count) #{item.followCount} người theo dõi
                button.btn.btn-info(href='#' btn-follow=item.id follow-status=item.isFollowed) #{item.isFollowed === "followed" ? "Đã theo dõi" : "theo dõi"  }
        
