extends ../../layouts/default.pug 


block main 
    .container.mt-5
      h1.text-center(style='margin: 20px; font-family: Arial, Helvetica, sans-serif;font-weight: 700') DASHBOARD
      select.form-control.w-25(select-statistis)
        option - Thống kê Theo - 
        option(value='statistis-day') Theo Ngày 
        option(value='statistis-week') Theo Tuần 
        option(value='statistis-month') Theo Tháng 
        option(value='statistis-year') Theo Năm 
      .row
        .col-md-3
          .card.text-white.bg-primary.card-custom
            .card-body
              h5.card-title Người Dùng
              ul 
                li Tất cả: 
                  strong #{statistis.user.total}
                li Hoạt động: 
                  strong #{statistis.user.active}
                li Không hoạt động 
                  strong #{statistis.user.inactive}
                li Đã Xóa 
                  strong #{statistis.user.deleted}
        .col-md-3
          .card.text-white.bg-warning.card-custom
            .card-body
              h5.card-title Bài hát 
              ul 
                li Tất cả: 
                  strong #{statistis.song.total}
                li Hoạt động: 
                  strong #{statistis.song.active}
                li Không hoạt động 
                  strong #{statistis.song.inactive} 
                li Đã xóa  
                  strong #{statistis.song.deleted} 
                
        .col-md-3
          .card.text-white.bg-success.card-custom
            .card-body
              h5.card-title Ca sĩ 
              ul 
                li Tất cả: 
                  strong #{statistis.singer.total}
                li Hoạt động: 
                  strong #{statistis.singer.active}
                li Không hoạt động 
                  strong #{statistis.singer.inactive} 
                li Đã xóa  
                  strong #{statistis.singer.deleted}
        .col-md-3
          .card.text-white.bg-danger.card-custom
            .card-body
              h5.card-title Tương tác 
              ul 
                li Số lượt nghe: 
                  strong #{statistis.interact.listen}
                li Số Lượt thích: 
                  strong #{statistis.interact.like}
                li Số lượt Theo dõi  
                  strong #{statistis.interact.follows} 
                li Số Lượt Bình Luận 
                  strong #{statistis.interact.comments}
      .row
        .col-md-6
          .card.card-custom
            .card-header Area Chart Example
            .card-body
              canvas#areaChart
        .col-md-6
          .card.card-custom
            .card-header Bar Chart Example
            .card-body
              canvas#barChart
      .card.card-custom
        .card-header Danh sách người dùng 
        .card-body
          table.table.table-striped
            thead
              tr
                th #
                th Họ và tên 
                th avatar
                th Email 
                th Đăng ký vào 
                th Trạng thái 
                th Chi tiết 
            tbody
              each item, index in users
                tr
                  td #{index + 1}
                  td #{item.fullName}
                  td 
                    img(src=item.avatar, alt="" style='width: 50px; height: 50px')
                  td #{item.email}
                  td #{moment(item.createdAt).format('MMMM Do YYYY, h:mm:ss a')}
                  td 
                    span(class=`${item.status === "active" ? 'badge rounded-pill text-bg-success' : 'badge rounded-pill text-bg-danger'}` btn-change-status=item.id status=item.status) #{item.status} 
                  td 
                    button.btn.btn-primary Chi tiết 
              