.sidebar
  h2 Quảng trị 
  ul.nav.flex-column
    li.nav-item
      a.nav-link(href=`/${prefixAdmin}/dashboard` class=`${activePages === 'dashboard' ? 'active' : ''}`)
        i.fa-solid.fa-chart-simple
        |  Dashboard
    li.nav-item
      a.nav-link(href=`/${prefixAdmin}/songs` class=`${activePages === 'songs' ? 'active' : ''}`)
        i.fa-solid.fa-music
        |  Bài hát  
    li.nav-item
      a.nav-link(href='/admin/topics' class=`${activePages === 'topics' ? 'active' : ''}`)
        i.fa-solid.fa-list
        |  Chủ đề 
    li.nav-item
      a.nav-link(href='/admin/singers' class=`${activePages === 'singers' ? 'active' : ''}`)
        i.fa-solid.fa-guitar
        |  Ca sĩ 
    li.nav-item
      a.nav-link(href='/admin/users' class=`${activePages === 'users' ? 'active' : ''}`)
        i.fa-solid.fa-users
        |  Người dùng  
    li.nav-item
      a.nav-link(href=`/${prefixAdmin}/roles` class=`${activePages === 'roles' ? 'active' : ''}`)
        i.fa-solid.fa-lock
        |  Nhóm quyền 
    li.nav-item
      a.nav-link(href=`/${prefixAdmin}/roles/permissions` class=`${activePages === 'permissions' ? 'active' : ''}`)
        i.fa-solid.fa-shield-halved
        |  Ph&acirc;n quy&#x1EC1;n
    li.nav-item
      a.nav-link(href=`/${prefixAdmin}/accounts` class=`${activePages === 'accounts' ? 'active' : ''}`)
        i.fa-solid.fa-user-lock
        |  T&agrave;i kho&#x1EA3;n
    li.nav-item
      a.nav-link(href='#')
        i.fa-solid.fa-gear
        |  C&agrave;i &dstrok;&#x1EB7;t chung
  .bottom-section(style='margin-top: 30px;')
    hr
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href='../my-account/index.html')
          i.fa-solid.fa-user
          |  T&agrave;i kho&#x1EA3;n c&aacute; nh&acirc;n
      li.nav-item
        a(href=`/${prefixAdmin}/auth/logout` btn-logout).nav-link
          i.fa-solid.fa-right-from-bracket
          |  &Dstrok;&abreve;ng xu&#x1EA5;t
      li.nav-item
        a.nav-link(href='#')
          i.fa-solid.fa-cogs
          |  H&#x1EC7; th&#x1ED1;ng