extends ../../layouts/default.pug 
include ../../mixins/show-alert.pug 
block main 
    .container.mt-5
      .row
        +alertSuccess(success_msg)
        +alertError(error_msg)
        .col-md-3
          .profile-card.text-center
            img.profile-avatar(src=`${user.avatar ? user.avatar : "/images/profile_3.png"}`,style='width: 200px; height: 200px', alt='Avatar')
            h3.profile-name #{user.fullName} 
            a(href="/user/edit").btn.btn-primary Chỉnh sửa 
            p.profile-info #{user.description}
            p.profile-email #{user.email}
            p.badge.text-bg-success #{user.status}
            p.profile-email Tham gia vào: #{moment(user.createdAt).subtract(10, 'days').calendar()} 
            
        .col-md-9(style='margin-bottom: 30px')
          .song-list
            h2 B&agrave;i h&aacute;t &dstrok;&atilde; Like
            ul.list-group
             each item in songs
              li.list-group-item
                .song-item
                  img.song-thumbnail(src=item.avatar, alt='Song 1')
                  .song-details
                    h5.song-title #{item.title}
                    p.song-artist #{item.singerName}
                    audio(controls='')
                      source(src=item.audio, type='audio/mpeg')
                                        
              