footer.text-center.text-lg-start.bg-body-tertiary.text-muted
      // Section: Social media
      section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
        // Left
        .me-5.d-none.d-lg-block
          span Get connected with us on social networks:
        // Left
        // Right
        div
          a.me-4.text-reset(href='')
            i.fab.fa-facebook-f
          a.me-4.text-reset(href='')
            i.fab.fa-twitter
          a.me-4.text-reset(href='')
            i.fab.fa-google
          a.me-4.text-reset(href='')
            i.fab.fa-instagram
          a.me-4.text-reset(href='')
            i.fab.fa-linkedin
          a.me-4.text-reset(href='')
            i.fab.fa-github
        // Right
      // Section: Social media
      // Section: Links
      section
        .container.text-center.text-md-start.mt-5
          // Grid row
          .row.mt-3
            // Grid column
            .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
              // Content
              h6.text-uppercase.fw-bold.mb-4
                i.fas.fa-gem.me-3
                | Company name
              p
                | Here you can use rows and columns to organize your footer content. Lorem ipsum
                | dolor sit amet, consectetur adipisicing elit.
            // Grid column
            // Grid column
            .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
              // Links
              h6.text-uppercase.fw-bold.mb-4
                | Products
              p
                a.text-reset(href='#!') Angular
              p
                a.text-reset(href='#!') React
              p
                a.text-reset(href='#!') Vue
              p
                a.text-reset(href='#!') Laravel
            // Grid column
            // Grid column
            .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
              // Links
              h6.text-uppercase.fw-bold.mb-4
                | Useful links
              p
                a.text-reset(href='#!') Pricing
              p
                a.text-reset(href='#!') Settings
              p
                a.text-reset(href='#!') Orders
              p
                a.text-reset(href='#!') Help
            // Grid column
            // Grid column
            .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
              // Links
              
              p
                i.fas.fa-home.me-3
                | #{settingGenerals ? settingGenerals.websiteName : ""}
              p
                i.fa-brands.fa-html5
                img(src=(settingGenerals ? settingGenerals.logo : ""),style='width: 50px; height: 50px', alt="")
              p
                i.fas.fa-phone.me-3
                | #{settingGenerals ? settingGenerals.phone : ""}
              p
                i.fas.fa-envelope.me-3
                | #{settingGenerals ? settingGenerals.email : ""} 
              p
                i.fa-solid.fa-map
                | #{settingGenerals ? settingGenerals.address : ""} 
              p
                i.fa-solid.fa-copyright
                | #{settingGenerals ? settingGenerals.copyright : ""}
            // Grid column
          // Grid row
      // Section: Links
      // Copyright
      .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
        | &copy; 2021 Copyright:
        a.text-reset.fw-bold(href='https://mdbootstrap.com/') MDBootstrap.com
      